html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#templates {
  display: none;  
}
  
#battlefield {
 display: inline-block;
 margin-left: 15%;
 margin-right: 15%;
 width: 70%;
 height: 70%; 
}

.container {
  width: 44%;
  height: 100%;
  float: left;
  margin: 3%;
  background-color: gray;
  text-align: center;
}

.map_canvas {
  width: 100;
  height: 80%;
  margin: 2%
}

#top {
  text-align: center;
}

#right {
  color: green;
}

#wrong {
  color: red;
}

